.containerSearch {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2%;
}
 
.inputSearch {
  width: 30%;
}

.buttonClean {
  width: 8%;
  margin-left: 0.5%;
}